<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie ie6 lt8 lt9 lt10"><![endif]-->
<!--[if IE 7]>
<html class="ie ie7 lt8 lt9 lt10"><![endif]-->
<!--[if IE 8]>
<html class="ie ie8 lt9 lt10"><![endif]-->
<!--[if IE 9]>
<html class="ie ie9 lt10"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!-->
<html><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta name="author" content=""/>
    <meta name="keywords" content="imclass,imclass多人课堂,imclass多人教室，在线教室，imclass多人视频,多人互动教室，多人在线教室"/>
    <meta name="description"
          content="ImClass多人线上教室拥有多种线上授课工具，支持K12教育、企业培训、职业培训等教学应用场景，从课前教务系统、课中授课系统、课后回收系统等技术手段为教育培训企业提供全方位教学服务支持。"/>
    <meta name="renderer" content="webkit"/>
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Imclass-多人线上互动教室服务提供商-Imclass</title>
    <script>if (/*@cc_on!@*/false && document.documentMode === 10) document.documentElement.className += ' ie10';</script>
    <script>if (/*@cc_on!@*/false && document.documentMode === 11) document.documentElement.className += ' ie11';</script>
    <!-- Favicons-->
    <link rel="icon" href="/classfront/img/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/classfront/img/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <link rel="shortcut icon" href="/classfront/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/classfront/css/common.css">
    <link rel="stylesheet" type="text/css" href="/classfront/css/style.css">
    <link rel="stylesheet" type="text/css" href="/classfront/css/respon.css">

    <script src="/classfront/js/jquery.js"></script>
    <script src="/classfront/js/common.js"></script>

    <!--[if lt IE 9]>
    <script src="/classfront/js/html5.js"></script>
    <script src="/classfront/js/respond.src.js"></script>
    <![endif]-->
    <!--公用文件-->

    <script src="/classfront/js/placeholder.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?65a9a4e4c212b33e07efd7d14ead62bd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
<div class="body-box">

    <!--header Begin-->
    <header class="header con_header f-14 cf">
        <div class="wrap cf">

            <div class="logo"><a href="/web/index" title="Imclass-多人线上互动教室服务提供商-Imclass"><img
                    src="/classfront/img/header_logo_red.svg" class="phone_hide" onerror="lods(this)"/><img
                    src="/classfront/img/phone_logo.svg" class="phone_show" onerror="lods(this)"/></a></div>

        </div>
    </header>
    <!--header End-->

    <!--main Begin-->
    <setion class="main cf">


        <!--privacy_bk_01 Begin-->
        <div class="privacy_bk_01 cf">
            <div class="wrap cf">

                <div class="price_tit cf">
                    <h3 class="f-32 center f-b txt_color_333 cf">北京天天飞度信息技术有限公司ImClass线上教室隐私保护条例</h3>
                </div>

                <div class="con f-16 txt_color_333 cf">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当您注册使用北京天天飞度信息技术有限公司ImClass线上教室（以下简称“ImClass线上教室”）的服务时，须提供个人信息。请仔细阅读以下条例，因为本条例包含了您所享有的权利和义务等重要内容。您使用ImClass线上教室服务，即表示您已理解并接受本条例。ImClass线上教室有权对本条例进行修改和调整，且无需通知您。本条例适用于ImClass线上教室的全部服务。
                    </p>

                    <p>一、用户隐私</p>
                    <p>我们收集用户信息是为了更好地服务用户。ImClass线上教室不会在未经合法用户授权时，公开、编辑或透露其个人信息及保存在ImClass线上教室中的非公开内容，除非有下列情况：
                        <br> 1）有关法律规定或ImClass线上教室合法服务程序规定。
                        <br> 2）在紧急情况下，为维护用户及公众的权益；
                        <br> 3）为维护ImClass线上教室的任何合法权益；
                        <br> 4）其他需要公开、编辑或透露个人信息的情况。
                    </p>

                    <p>在以下（包括但不限于）几种情况下，ImClass线上教室有权使用用户的个人信息：
                    </p>

                    <p>  1）在进行促销或抽奖时，ImClass线上教室可能会与赞助商共享用户数据，在此情况下，ImClass线上教室会在发送用户信息之前进行提示，并且用户可以通过不参与来终止传送过程。
                        <br> 2）ImClass线上教室可以将用户信息与第三方数据匹配。
                        <br> 3）ImClass线上教室可能通过透露用户数据，向未来的合作伙伴、广告商及其他第三方以及为了其他合法目的而描述ImClass线上教室的服务。
                    </p>

                    <p> 二、账号安全</p>
                    <p>一旦注册使用ImClass线上教室，您将得到专属的密码和帐号。请妥善保管、使用自己的帐号和密码，不得散布、共享。
                        因用户私自散布、共享账号导致的安全问题，由用户负全部责任。
                        用户要对其帐户的活动和行为负责。
                    </p>


                    <p>三、服务使用</p>
                    <p>用户在使用ImClass线上教室过程中，应遵守所有适用法律和法规，不得从事违法犯罪的活动，不得侵犯、干扰或影响ImClass线上教室的内容及服务。
                        用户应保证提供的信息完整、准确、真实、合法，不得存在虚假、欺诈、骚扰等违反法律、伦理的信息或内容。
                    </p>

                    <p> 四、版权声明</p>
                    <p>ImClass所有终端（包括但不限于官网、手机app等）所包含的所有内容（含信息、文本、图形、视频等内容）均受著作权法、商标法及其他相关知识产权法的保护，其相关权利归北京天天飞度信息技术有限公司所有，任何个人或企事业单位未经许可，不得采用下载、拍摄、复制、传播、编辑等方式进行传播或播放ImClass线上教室的任何内容。
                    </p>

                    <p>五、免责声明</p>
                    <p>ImClass线上教室可能会出现文字或图形等错误，不承诺不会出现非可控因素导致的网站服务器或程序受病毒、黑客、恶意软件等恶意攻击。
                        ImClass线上教室保留随时修改、调整、终止所提供服务的权利。
                        本条例所包含的产品及服务信息可能不完整，请以服务使用合同为准。
                    </p>

                </div>


            </div>
        </div>
        <!--privacy_bk_01 End-->


    </setion>
    <!--main End-->


    <!--footer Begin-->
    <footer class="footer f-14 bg_41 cf">
        <div class="wrap cf">
            <div class="ft_top cf">
                <div class="ft_logo"><a href="/web/index" title=""><img src="/classfront/img/footer_logo.svg"/></a></div>
                <div class="ft_share">
                    <ul>
                        <li><a href="javascript:void(0);" class="weixin_but" title=""></a>
                            <div class="code f-12 txt_color_333 center"><img src="/classfront/img/index-img/qr-code.jpg" /><p>扫一扫关注ImClass公众号</p></div>
                        </li>
                        <li><a target="_blank" href="https://weibo.com/imclass" data-info="Imclass-多人线上互动教室服务提供商-Imclass" class="a-1" title=""></a></li>
                    </ul>
                </div>
            </div>

            <div class="ft_address txt_color_white cf">
                地址：北京市朝阳区麦子店街37号盛福大厦550A<br>
                电话：010-85276188-8019<br>
                邮箱：<a href="mailto:imclass@titii.com" target="_blank" title="imclass@titii.com">imclass@titii.com</a>
            </div>

            <div class="ft_copy f-12 txt_color_999 cf">
                <div class="copy"><img style="height: 16px;width: 16px;" src="/classfront/img/gzw.png"/>京公网安备 11010502035886号 京ICP备12045674号 Copyright &#169 2018 imclass.cn 保留所有权利</div>
                <div class="ft_nav"><a href="/web/service">服务条款</a><a href="/web/privacy">隐私协议</a></div>
            </div>

        </div>
    </footer>
    <!--footer End-->

    <!--aside_nav Begin-->
    <aside class="aside_nav phone_hide" style="margin-top: 15px;right: 2px;">
        <a href="javascript:void(0);" class="gotop"><img src="/classfront/img/btn_back.svg"/></a>
    </aside>
    <!--aside_nav End-->

    <div id="miniRoomTip" class="layer_02 layer_04 f-16 txt_color_white" style="position: fixed;z-index: 99; top: 50%;left: 50%;margin-left: -244px;margin-top: -198px;display: none;">
        <h2 class="f-20"><div class="close" action-type="closeRoomTip"></div></h2>
        <div class="con center cf">
            <div class="code"><img src="/classfront/img/index-img/qr-code.jpg" onerror="lods(this)"></div>
            <p class="f-14 txt_color_999">此功能暂未开放，关注公众优先体验</p>
        </div>
    </div>

</div>


<script src="/classfront/js/ratio-img.js"></script>
<script src="/classfront/js/autuimg.js"></script>

<script type="text/javascript">
    $(function () {
        $('[action-type="showRoomTip"]').on("click", function () {
            $("#miniRoomTip").show();
        });

        $('[action-type="closeRoomTip"]').on("click", function () {
            $("#miniRoomTip").hide();
        });
    })
</script>

</body>
</html>
