<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie ie6 lt8 lt9 lt10"><![endif]-->
<!--[if IE 7]>
<html class="ie ie7 lt8 lt9 lt10"><![endif]-->
<!--[if IE 8]>
<html class="ie ie8 lt9 lt10"><![endif]-->
<!--[if IE 9]>
<html class="ie ie9 lt10"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!-->
<html><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta name="author" content=""/>
    <meta name="keywords" content="imclass,imclass多人课堂,imclass多人教室，在线教室，imclass多人视频,多人互动教室，多人在线教室"/>
    <meta name="description"
          content="ImClass多人线上教室拥有多种线上授课工具，支持K12教育、企业培训、职业培训等教学应用场景，从课前教务系统、课中授课系统、课后回收系统等技术手段为教育培训企业提供全方位教学服务支持。"/>
    <meta name="renderer" content="webkit"/>
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Imclass-多人线上互动教室服务提供商-Imclass</title>
    <script>if (/*@cc_on!@*/false && document.documentMode === 10) document.documentElement.className += ' ie10';</script>
    <script>if (/*@cc_on!@*/false && document.documentMode === 11) document.documentElement.className += ' ie11';</script>
    <!-- Favicons-->
    <link rel="icon" href="/classfront/img/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/classfront/img/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <link rel="shortcut icon" href="/classfront/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/classfront/css/common.css">
    <link rel="stylesheet" type="text/css" href="/classfront/css/style.css">
    <link rel="stylesheet" type="text/css" href="/classfront/css/respon.css">

    <script src="/classfront/js/jquery.js"></script>
    <script src="/classfront/js/common.js"></script>

    <!--[if lt IE 9]>
    <script src="/classfront/js/html5.js"></script>
    <script src="/classfront/js/respond.src.js"></script>
    <![endif]-->
    <!--公用文件-->

    <script src="/classfront/js/placeholder.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?65a9a4e4c212b33e07efd7d14ead62bd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
<div class="body-box">

    <!--header Begin-->
    <header class="header con_header f-14 cf">
        <div class="wrap cf">

            <div class="logo"><a href="/" title="Imclass-多人线上互动教室服务提供商-Imclass"><img
                    src="/classfront/img/header_logo_red.svg" class="phone_hide" onerror="lods(this)"/><img
                    src="/classfront/img/phone_logo.svg" class="phone_show" onerror="lods(this)"/></a></div>

        </div>
    </header>
    <!--header End-->

    <!--main Begin-->
    <setion class="main cf">


        <!--privacy_bk_01 Begin-->
        <div class="privacy_bk_01 cf">
            <div class="wrap cf">

                <div class="price_tit cf">
                    <h3 class="f-32 center f-b txt_color_333 cf">ImClass用户协议条款</h3>
                </div>

                <div class="con f-16 txt_color_333 cf">

                    <p>一、总则</p>
                    <p>1.1北京天天飞度信息技术有限公司（以下简称“天天飞度”）在此特别提醒您（用户）在注册成为用户之前，请认真阅读本《用户服务协议》（以下简称“协议”），确保您充分理解本协议中各条款。请您认真阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
                    </p>
                    <p>1.2本协议约定天天飞度与用户之间关于ImClass线上教室平台（以下简称“本平台”）的权利义务。“用户”是指注册、登录、使用本平台的个人和机构。本协议可由天天飞度随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本网站查阅最新版协议条款。在天天飞度修改协议条款后，如果用户不接受修改后的条款，请立即停止使用天天飞度提供的服务，用户继续使用天天飞度提供的服务将被视为接受修改后的协议。
                    </p>
                    <p> 二、服务内容</p>
                    <p>2.1  ImClass的具体服务内容由本平台根据实际情况提供。</p>
                    <p>2.2 本平台仅提供相关的网络服务，除此之外与相关网络服务有关的设备(如个人电脑、手机、及其他与接入互联网或移动网有关的装置)及所需的费用(如为接入互联网而支付的电话费及上网费、为使用移动网而支付的手机费)均应由用户自行负担。
                    </p>

                    <p>三、用户帐号</p>
                    <p>3.1 在本平台注册并通过验证的用户即成为正式用户，可以获得本平台按照对应身份为用户提供的功能。ImClass有权对用户的权限设计进行变更。
                    </p>
                    <p>3.2 按照注册要求，用户需要使用真实姓名和真实身份信息注册。用户有义务保证密码和帐号的安全，用户利用该密码和帐号所进行的一切活动引起的任何损失或损害，由用户自行承担全部责任，本平台不承担任何责任。如用户发现帐号遭到未授权的使用或发生其他任何安全问题，应立即修改帐号密码并妥善保管，如有必要，请通知本平台。因黑客行为或用户的保管疏忽导致帐号被非法使用，本平台不承担任何责任。
                    </p>
                    <p> 四、使用规则</p>
                    <p>4.1 遵守中华人民共和国相关法律法规，包括但不限于《中华人民共和国计算机信息系统安全保护条例》、《计算机软件保护条例》、《最高人民法院关于审理涉及计算机网络著作权纠纷案件适用法律若干问题的解释(法释[2004]1号)》、《全国人大常委会关于维护互联网安全的决定》、《互联网电子公告服务管理规定》、《互联网新闻信息服务管理规定》、《互联网著作权行政保护办法》和《信息网络传播权保护条例》等有关计算机互联网规定和知识产权的法律和法规、实施办法。</p>
                    <p>4.2 所有身份的用户（教务、教师、学生）对其自行发表、上传或传送的内容负全部责任，所有用户不得在本平台发布、传播含有下列内容之一的信息，否则本平台有权自行处理，无需获得用户同意：
                        <br>(1)违反宪法确定的基本原则的；
                        <br>(2)危害国家安全，泄漏国家机密，颠覆国家政权，破坏国家统一的；
                        <br>(3)损害国家荣誉和利益的；
                        <br>(4)煽动民族仇恨、民族歧视，破坏民族团结的；
                        <br>(5)破坏国家宗教政策，宣扬邪教和封建迷信的；
                        <br>(6)散布谣言，扰乱社会秩序，破坏社会稳定的；
                        <br>(7)散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；
                        <br>(8)侮辱或者诽谤他人，侵害他人合法权益的；
                        <br>(9)煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；
                        <br>(10)以非法民间组织名义活动的；
                        <br>(11)含有法律、行政法规禁止的其他内容的。
                    </p>

                    <p>4.3 用户承诺对其在ImClass线上教室使用过程中发表或者上传至本平台的所有信息(即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等)均享有完整的知识产权，或者已经得到相关权利人的合法授权；如用户违反本条规定造成本平台被第三人索赔的，用户应全额补偿本平台一切费用(包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用)；</p>
                    <p>4.4 当第三方认为用户发表或者上传于本平台的信息侵犯其权利，并根据《信息网络传播权保护条例》或者相关法律规定向本平台发送权利通知书时，用户同意本平台可以自行判断决定删除涉嫌侵权信息，除非用户提交书面证据材料排除侵权的可能性，本平台将不会自动恢复上述删除的信息；
                        <br>(1)不得为任何非法目的而使用ImClass平台；
                        <br>(2)遵守所有与网络服务有关的网络协议、规定和程序；
                        <br>(3)不得利用本平台进行任何可能对互联网的正常运转造成不利影响的行为；
                        <br>(4)不得利用平台进行任何不利于本平台的行为。
                    </p>
                    <p>4.5 如用户在使用网络服务时违反上述任何规定，本平台有权要求用户改正或直接采取一切必要的措施(包括但不限于删除用户上传的内容、暂停或终止用户使用网络服务的权利)以减轻用户不当行为而造成的影响。</p>


                    <p>五、隐私保护</p>
                    <p>5.1 本平台不对外公开或向第三方提供用户的注册资料及用户在使用ImClass平台时存储在本平台的非公开内容，但下列情况除外：
                        <br>(1)事先获得用户的明确授权；
                        <br>(2)根据有关的法律法规要求；
                        <br>(3)按照相关政府主管部门的要求；
                        <br>(4)为维护社会公众的利益。
                    </p>
                    <p>5.2 本平台可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与本平台同等的保护用户隐私的责任，则本平台有权将用户的注册资料等提供给该第三方。
                    </p>
                    <p>5.3 在不透露单个用户隐私资料的前提下，本平台有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。
                    </p>

                    <p>六、版权声明</p>
                    <p>6.1 本平台的文字、图片、音频、视频等版权均归天天飞度信息技术有限公司享有或与用户共同享有，未经本平台许可，不得以盈利为目的私自传播。</p>
                    <p>6.2 使用ImClass平台期间产生的所有内容（包括但不限于直播视频、文字、图片）仅代表用户自己的立场和观点，与本平台无关，由用户承担一切法律责任。
                    </p>

                    <p>七、责任声明</p>
                    <p>7.1 用户明确同意其使用本平台服务所存在的风险及一切后果将完全由用户本人承担，ImClass对此不承担任何责任。
                    </p>
                    <p>7.2 本平台无法保证所提供服务一定能满足用户的要求，也不保证网络服务的及时性、安全性、准确性。</p>
                    <p>7.3 对于因不可抗力或本平台不能控制的原因造成的网络服务中断或其它缺陷，本平台不承担任何责任，但将尽力减少因此而给用户造成的损失和影响，用户有义务配合ImClass平台的维护、抢修工作。
                    </p>
                    <p>7.4 对于平台向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，本平台无需承担任何责任：
                        <br>(1)本平台向用户免费提供的各项网络服务；
                        <br>(2)本平台向用户赠送的任何产品或者服务。
                    </p>
                    <p> 八、附则</p>
                    <p>8.1 本协议的订立、执行和解释及争议的解决均应适用中华人民共和国法律。 </p>
                    <p>8.2 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，本协议的其余条款仍应有效并且有约束力。
                    </p>
                    <p>8.3 本协议解释权及修订权归天天飞度信息技术有限公司所有。</p>

                </div>


            </div>
        </div>
        <!--privacy_bk_01 End-->


    </setion>
    <!--main End-->


    <!--footer Begin-->
    <footer class="footer f-14 bg_41 cf">
        <div class="wrap cf">
            <div class="ft_top cf">
                <div class="ft_logo"><a href="/web/index" title=""><img src="/classfront/img/footer_logo.svg"/></a></div>
                <div class="ft_share">
                    <ul>
                        <li><a href="javascript:void(0);" class="weixin_but" title=""></a>
                            <div class="code f-12 txt_color_333 center"><img src="/classfront/img/index-img/qr-code.jpg" /><p>扫一扫关注ImClass公众号</p></div>
                        </li>
                        <li><a target="_blank" href="https://weibo.com/imclass" data-info="Imclass-多人线上互动教室服务提供商-Imclass" class="a-1" title=""></a></li>
                    </ul>
                </div>
            </div>

            <div class="ft_address txt_color_white cf">
                地址：北京市朝阳区麦子店街37号盛福大厦550A<br>
                电话：010-85276188-8019<br>
                邮箱：<a href="mailto:imclass@titii.com" target="_blank" title="imclass@titii.com">imclass@titii.com</a>
            </div>

            <div class="ft_copy f-12 txt_color_999 cf">
                <div class="copy"><img style="height: 16px;width: 16px;" src="/classfront/img/gzw.png"/>京公网安备 11010502035886号 京ICP备12045674号 Copyright &#169 2018 imclass.cn 保留所有权利</div>
                <div class="ft_nav"><a href="/web/service">服务条款</a><a href="/web/privacy">隐私协议</a></div>
            </div>

        </div>
    </footer>
    <!--footer End-->

    <!--aside_nav Begin-->
    <aside class="aside_nav phone_hide" style="margin-top: 15px;right: 2px;">
        <a href="javascript:void(0);" class="gotop"><img src="/classfront/img/btn_back.svg"/></a>
    </aside>
    <!--aside_nav End-->

    <div id="miniRoomTip" class="layer_02 layer_04 f-16 txt_color_white" style="position: fixed;z-index: 99; top: 50%;left: 50%;margin-left: -244px;margin-top: -198px;display: none;">
        <h2 class="f-20"><div class="close" action-type="closeRoomTip"></div></h2>
        <div class="con center cf">
            <div class="code"><img src="/classfront/img/index-img/qr-code.jpg" onerror="lods(this)"></div>
            <p class="f-14 txt_color_999">此功能暂未开放，关注公众优先体验</p>
        </div>
    </div>

</div>


<script src="/classfront/js/ratio-img.js"></script>
<script src="/classfront/js/autuimg.js"></script>

<script type="text/javascript">
    $(function () {
        $('[action-type="showRoomTip"]').on("click", function () {
            $("#miniRoomTip").show();
        });

        $('[action-type="closeRoomTip"]').on("click", function () {
            $("#miniRoomTip").hide();
        });
    })
</script>

</body>
</html>
