<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="ie ie6 lt8 lt9 lt10"><![endif]-->
<!--[if IE 7]>
<html class="ie ie7 lt8 lt9 lt10"><![endif]-->
<!--[if IE 8]>
<html class="ie ie8 lt9 lt10"><![endif]-->
<!--[if IE 9]>
<html class="ie ie9 lt10"><![endif]-->
<!--[if (gt IE 9) | !(IE)]><!-->
<html><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta name="author" content=""/>
    <meta name="keywords" content="imclass,imclass多人课堂,imclass多人教室，在线教室，imclass多人视频,多人互动教室，多人在线教室"/>
    <meta name="description"
          content="ImClass多人线上教室拥有多种线上授课工具，支持K12教育、企业培训、职业培训等教学应用场景，从课前教务系统、课中授课系统、课后回收系统等技术手段为教育培训企业提供全方位教学服务支持。"/>
    <meta name="renderer" content="webkit"/>
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Imclass-多人线上互动教室服务提供商-Imclass</title>
    <script>if (/*@cc_on!@*/false && document.documentMode === 10) document.documentElement.className += ' ie10';</script>
    <script>if (/*@cc_on!@*/false && document.documentMode === 11) document.documentElement.className += ' ie11';</script>
    <!-- Favicons-->
    <link rel="icon" href="/classfront/img/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="/classfront/img/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="/classfront/img/favicon/mstile-144x144.png">
    <link rel="stylesheet" type="text/css" href="/classfront/css/common.css">
    <link rel="stylesheet" type="text/css" href="/classfront/css/style.css">
    <link rel="stylesheet" type="text/css" href="/classfront/css/respon.css">

    <script src="/classfront/js/jquery.js"></script>
    <script src="/classfront/js/common.js"></script>

    <!--[if lt IE 9]>
    <script src="/classfront/js/html5.js"></script>
    <script src="/classfront/js/respond.src.js"></script>
    <![endif]-->
    <!--公用文件-->

    <script src="/classfront/js/placeholder.js"></script>

    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?65a9a4e4c212b33e07efd7d14ead62bd";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
<div class="body-box">

    <!--header Begin-->
    <header class="header con_header f-14 cf">
        <div class="wrap cf">

            <div class="logo"><a href="/" title="Imclass-多人线上互动教室服务提供商-Imclass"><img
                    src="/classfront/img/header_logo_red.svg" class="phone_hide" onerror="lods(this)"/><img
                    src="/classfront/img/phone_logo.svg" class="phone_show" onerror="lods(this)"/></a></div>

            <nav class="menu f-16">
                <ul class="cf">
                    <li><a href="/">功能概览<i></i></a></li>
                    <li class="hover2"><a href="/support">技术支持<i></i></a>
                    <li><a href="/price">服务报价<i></i></a></li>
                </ul>

                <dl class="phone_hide">
                    <!--<dd><a href="javascript:void(0);" class="btn01" action-type="showRoomTip">迷你教室</a></dd>-->
                    <dd><a href="/imclass/front/login/" class="btn01">迷你教室</a></dd>
                    <dd><a href="https://class.imclass.cn/page/web/classfront/login.html" class="btn02">大班教室</a></dd>
                </dl>
            </nav>

            <i class="ph-mask"></i>
            <div class="menu-bon">
                <button class="menu_h"><span>Menu</span></button>
            </div>

        </div>
    </header>
    <!--header End-->

    <!--main Begin-->
    <setion class="main cf">

        <!--support_bk_01 Begin-->
        <div class="support_bk_01 f-14 phone_hide cf">
            <div class="wrap cf">

                <div class="price_tit center cf">
                    <h3 class="f-36 txt_color_333 cf">安装Chrome浏览器</h3>
                    <p class="f-16 txt_color_666">Google Chrome浏览器可以提升视频授课流畅度，请下载Chrome浏览器体验沉浸式授课环境</p>
                </div>

                <ul class="center">
                    <li>
                        <div class="con bg_f7 cf">
                            <div class="img"><img src="/classfront/img//ico_windows.svg"/></div>
                            <h3 class="f-20 txt_color_333">Windows</h3>
                            <p class="f-16 txt_color_666"><span class="v-m-c">适用于 Windows 10/8.1/8/7 64 位</span></p>
                            <div class="down f-16"><a target="_blank" href="https://pc.qq.com/detail/1/detail_2661.html" class="btn03">下载</a></div>
                        </div>
                    </li>

                    <li>
                        <div class="con bg_f7 cf">
                            <div class="img"><img src="/classfront/img//ico_apple.svg"/></div>
                            <h3 class="f-20 txt_color_333">Mac</h3>
                            <p class="f-16 txt_color_666"><span class="v-m-c">适用于 Mac OS X 10.10 或更高版本</span></p>
                            <div class="down f-16"><a target="_blank" href="https://rc.imclass.cn/googlechrome.dmg" class="btn03">下载</a></div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
        <!--support_bk_01 End-->


        <!--support_bk_02 Begin-->
        <div class="support_bk_02 f-14 cf">
            <div class="wrap cf">

                <div class="price_tit center cf">
                    <h3 class="f-36 txt_color_333 cf">移动端与插件</h3>
                    <p class="f-16 txt_color_666">使用便捷，多端同步，提升授课体验</p>
                </div>

                <ul class="center">
                    <li>
                        <div class="con cf">
                            <div class="container">
                                <div class="front bg_f7">
                                    <div class="inner">
                                        <div class="img"><img src="/classfront/img/ico_iOS.svg"/></div>
                                        <h3 class="f-20 txt_color_333">iOS</h3>
                                        <p class="f-14 txt_color_666">实时预览，离线查看</p>
                                        <div class="down phone_show f-16"><a href="javascript:void(0);" class="btn03">下载</a></div>
                                    </div>
                                </div>
                                <div class="back phone_hide bg_f7">
                                    <div class="inner">
                                        <div class="code"><img src="/classfront/img/index-img/qr-code.jpg" onerror="lods(this)"/>
                                        </div>
                                        <p class="f-14 txt_color_666">扫一扫下载iOS客户端</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="con cf">
                            <div class="container">
                                <div class="front bg_f7">
                                    <div class="inner">
                                        <div class="img"><img src="/classfront/img/ico_android.svg"/></div>
                                        <h3 class="f-20 txt_color_333">Android</h3>
                                        <p class="f-14 txt_color_666">实时预览，离线查看</p>
                                        <div class="down phone_show f-16"><a href="javascript:void(0);" class="btn03">下载</a></div>
                                    </div>
                                </div>
                                <div class="back phone_hide bg_f7">
                                    <div class="inner">
                                        <div class="code"><img src="/classfront/img/index-img/qr-code.jpg" onerror="lods(this)"/>
                                        </div>
                                        <p class="f-14 txt_color_666">扫一扫下载Android客户端</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="phone_hide">
                        <div class="con bg_f7 cf">
                            <div class="inner2 v-m-c">
                                <div class="img"><img src="/classfront/img/ico_share.svg"/></div>
                                <h3 class="f-20 txt_color_333">屏幕共享插件</h3>
                                <p class="f-14 txt_color_666">教师屏幕，一键共享</p>
                                <div class="down f-16"><a href="https://rc.imclass.cn/screen_sharing.zip" class="btn03">下载</a><a href="https://rc.imclass.cn/【屏幕共享】插件安装步骤.pdf"
                                                                                            class="btn03">说明</a></div>
                            </div>
                        </div>
                    </li>

                    <li class="phone_hide">

                        <div class="con bg_f7 cf">
                            <div class="inner2 v-m-c">
                                <div class="img"><img src="/classfront/img/ico_obs.svg"/></div>
                                <h3 class="f-20 txt_color_333">OBS录课软件</h3>
                                <p class="f-14 txt_color_666">随堂录课、互动小班转直播课堂</p>
                                <div class="down f-16"><a href="https://rc.imclass.cn/obs.zip" class="btn03">下载</a><a href="javascript:void(0);"
                                                                                            class="btn03">说明</a></div>
                            </div>
                        </div>

                    </li>


                </ul>


            </div>
        </div>
        <!--support_bk_02 End-->


        <!--support_bk_03 Begin-->
        <div class="support_bk_03 f-14 cf">
            <div class="wrap cf">

                <div class="price_tit center cf">
                    <h3 class="f-36 txt_color_333 cf">用户使用手册</h3>
                    <p class="f-16 txt_color_666">使用过程中如有疑问，请按照用户身份下载相应使用手册</p>
                </div>

                <ul class="cf">
                    <li>
                        <div class="con bg_f7 cf">
                            <h3 class="f-20 txt_color_333">教务使用手册</h3>
                            <p class="f-14  ellipsis txt_color_666">人员增减、课程管理、公告通知......</p>
                        </div>
                        <div class="sup_btn"><a target="_blank" href="https://rc.imclass.cn/教务使用说明.pdf" class="a1"></a><a href="https://rc.imclass.cn/教务使用说明.pdf?_upd=true" class="a2 phone_hide"></a></div>
                    </li>

                    <li>
                        <div class="con bg_f7 cf">
                            <h3 class="f-20 txt_color_333">老师使用手册</h3>
                            <p class="f-14 ellipsis txt_color_666">课件上传、文件管理、添加课程.......</p>
                        </div>
                        <div class="sup_btn"><a target="_blank" href="https://rc.imclass.cn/教师使用说明.pdf" class="a1"></a><a href="https://rc.imclass.cn/教师使用说明.pdf?_upd=true" class="a2 phone_hide"></a></div>
                    </li>

                    <li>
                        <div class="con bg_f7 cf">
                            <h3 class="f-20 txt_color_333">学生使用手册</h3>
                            <p class="f-14 ellipsis txt_color_666">查看课表、云文件夹、观看视频......</p>
                        </div>
                        <div class="sup_btn"><a target="_blank" href="https://rc.imclass.cn/学生使用说明.pdf" class="a1"></a><a href="https://rc.imclass.cn/学生使用说明.pdf?_upd=true" class="a2 phone_hide"></a></div>
                    </li>
                </ul>

            </div>
        </div>
        <!--support_bk_03 End-->


    </setion>
    <!--main End-->


    <!--footer Begin-->
    <footer class="footer f-14 bg_41 cf">
        <div class="wrap cf">
            <div class="ft_top cf">
                <div class="ft_logo"><a href="/" title=""><img src="/classfront/img/footer_logo.svg"/></a></div>
                <div class="ft_share">
                    <ul>
                        <li><a href="javascript:void(0);" class="weixin_but" title=""></a>
                            <div class="code f-12 txt_color_333 center"><img src="/classfront/img/index-img/qr-code.jpg"/>
                                <p>扫一扫关注ImClass公众号</p></div>
                        </li>
                        <li><a target="_blank" href="https://weibo.com/imclass" target="_blank" data-info="Imclass-多人线上互动教室服务提供商-Imclass" class="a-1"
                               title=""></a></li>
                    </ul>
                </div>
            </div>

            <div class="ft_address txt_color_white cf">
                地址：北京市朝阳区麦子店街37号盛福大厦550A<br>
                电话：010-85276188-8019<br>
                邮箱：<a href="mailto:imclass@titii.com" target="_blank" title="imclass@titii.com">imclass@titii.com</a>
            </div>

            <div class="ft_copy f-12 txt_color_999 cf">
                <div class="copy"><img style="height: 16px;width: 16px;" src="/classfront/img/gzw.png"/>京公网安备 11010502035886号 京ICP备12045674号 Copyright &#169 2018 imclass.cn 保留所有权利</div>
                <div class="ft_nav"><a href="/service">服务条款</a><a href="/privacy">隐私协议</a></div>
            </div>

        </div>
    </footer>
    <!--footer End-->


    <!--aside_nav Begin-->
    <aside class="aside_nav phone_hide" style="margin-top: 15px;right: 2px;">
        <a href="javascript:void(0);" class="gotop"><img src="/classfront/img/btn_back.svg"/></a>
    </aside>
    <!--aside_nav End-->

<div id="miniRoomTip" class="layer_02 layer_04 f-16 txt_color_white" style="position: fixed;z-index: 99; top: 50%;left: 50%;margin-left: -244px;margin-top: -198px;display: none;">
    <h2 class="f-20"><div class="close" action-type="closeRoomTip"></div></h2>
    <div class="con center cf">
        <div class="code"><img src="/classfront/img/index-img/qr-code.jpg" onerror="lods(this)"></div>
        <p class="f-14 txt_color_999">此功能暂未开放，关注公众优先体验</p>
    </div>
</div>



</div>

<script src="/classfront/js/ratio-img.js"></script>
<script src="/classfront/js/autuimg.js"></script>

<script type="text/javascript">
    $(function () {
        $('[action-type="showRoomTip"]').on("click", function () {
            $("#miniRoomTip").show();
        });

        $('[action-type="closeRoomTip"]').on("click", function () {
            $("#miniRoomTip").hide();
        });
    })

</script>


</body>
</html>
