

.btn01 { background:#D95043; border-radius:4px; color:#fff!important; box-shadow:0px 2px 12px 0px rgba(217,80,67,0.3); padding:12px 17px; display:inline-block; }
.btn01:hover { background:#F07F74;color:#fff!important;  }

.btn02 { border:1px solid #fff; border-radius:4px; color:#fff!important; padding:12px 17px; display:inline-block; }
.btn02:hover { background:#D95043;color:#fff!important; border:1px solid #D95043; }

.btn03 { border:1px solid #D95043; border-radius:4px; color:#D95043!important; padding:11px 69px; display:inline-block; }
.btn03:hover { background:#D95043;color:#fff!important; border:1px solid #D95043; }


/**********************index***************************/
.header { position:fixed; left:0px; top:0px; padding:12px 0px; right:0px; z-index:9; }
.header .logo { width:160px; float:left; position:relative; left:-18px; }
.header .logo img { width:100%; }
.header .in_language { float:left; color:#BCBCBC; line-height:3.4285; }
.header .in_language a:first-child,.header .in_language a:first-child:hover { color:#fff!important; }
.header .in_language a:hover {color:#BCBCBC!important; }


.header .menu { text-align:center; float:right; }
.header .menu ul { float:left; padding-top:12px; }
.header .menu ul li { display:inline-block; position:relative; *+display:inline; padding:0px 24px; }
.header .menu ul li a { display:block; letter-spacing:1px; position:relative; color:#fff; padding-bottom:6px; }
.header .menu ul li a i { position:absolute; left:0px; *+display:inline; bottom:0px; right:0px; background:none; height:2px; }
.header .menu ul li > a:hover,.header .menu li.hover01 > a { color:#fff!important; font-weight:bold; }
.header .menu ul li a:hover i,.header .menu li.hover01 a i { background:#fff; }
.header .menu li.hover2 > a { color:#D95043!important;font-weight:bold;  }
.header .menu li.hover2 > a i { background:#D95043; }

.header .menu dl { float:right; }
.header .menu dl dd { float:left; margin-left:30px; }
.header .menu dl dd a { padding:8px 27px; }
.header .menu dl dd:first-child +dd a { padding:7px 26px; }


.scroll,.con_header { background:#fff; }
.scroll { box-shadow:0px 0px 5px rgba(0,0,0,0.2); }
.header.scroll .logo,.header.con_header .logo { background:#D95043; border-radius:4px; }
.header.scroll .in_language a:first-child,
.header.scroll .in_language a:first-child:hover,
.header.con_header .in_language a:first-child,
.header.con_header .in_language a:first-child:hover { color:#D95043!important; }
.header.scroll .menu ul li a,.header.con_header .menu ul li a { color:#666; }
.header.scroll .menu ul li > a:hover,
.header.scroll .menu ul li.on > a,
.header.con_header .menu ul li > a:hover,
.header.con_header .menu ul li.on > a,
.header.scroll .menu li.hover01 > a{ color:#D95043!important; }
.header.scroll .menu ul li a:hover i,
.header.scroll .menu li.hover01 a i,
.header.con_header .menu ul li a:hover i,
.header.con_header .menu li.hover01 a i { background:#D95043; }

.header.scroll .menu dl dd:first-child +dd a,
.header.con_header .menu dl dd:first-child +dd a { border:1px solid #D95043; color:#D95043!important; background:#fff; }
.header.scroll .menu dl dd:first-child +dd a:hover,
.header.con_header .menu dl dd:first-child +dd a:hover { background:#D95043;color:#fff!important; border:1px solid #D95043; }



/*************in_banner***************/
.in_banner { padding-bottom:46.875%; position:relative; margin-top:-20px; }
.in_banner dl { position:absolute; left:50%; width:1200px; margin-left:-600px; top:27.5%; }
.in_banner dl dt { line-height:1.57; }
.in_banner dl dd { margin-top:5.2%; }

.ie .in_banner { margin-top:-20px; }

/***************in_bk_01*********************/
.in_bk_01 .wrap { padding:3.5% 0px 3.5%; }
.in_bk_01 .in_video { width:49.16%; float:left; overflow:hidden; }
.in_bk_01 .video_button { position:relative; cursor:pointer; }
.in_bk_01 .video_button .play { position:absolute; z-index:2; width:78px; height:78px; top:50%; left:50%; background:url(../images/btn_play.svg) no-repeat; margin:-39px 0px 0px -39px; background-size:100% 100%; }
.in_bk_01 .in_video .text { padding-top:14px; }
.in_bk_01 .in_video  img { width:100%; }
/*视频*/
.video_place{position: fixed;top:0px;left: 0px;right: 0px;
    bottom: 0px;background-color: rgba(0,0,0,0.6);
    z-index: 999999999;
}
.lt9 .video_place{filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#88000000", EndColorStr="#88000000")}
.video_con{z-index:2;width: 80%;height: 60%;
    background-color: #000;position: absolute;top: 50%;left: 50%;
    transform: translate(-50%,-50%);text-align: center;
}
.lt9 .video_con{top:20%;left: 10%;background: #000;}
.video_con video{width: 100%;height: 100%;}
.video_close_btn{position: absolute;top:10%;right: 10%;
    width:120px;background:#D95043;
    color: #fff;text-align: center;line-height:35px;
    cursor: pointer;
}
.video_place .con { position:relative; }
.video_place p {position:absolute;top:80%;left:10%;
    width:80%;height:0.35rem;background:#fff;
    color: #333;text-align: center;line-height:0.35rem;
    cursor: pointer;}
/*视频结束*/


.in_bk_01 .in_form { float:right; width:45.83%;border-radius:8px; background:#fff; padding-bottom:40px; }
.in_bk_01 .in_form h1 { padding:27px 0px 0px; }
.in_bk_01 .in_form ul { padding:0px 20.9%; }
.in_bk_01 .in_form ul li { overflow:hidden; margin-top:23px; position:relative; background:#F7F7F7; border-radius:4px; }
.in_bk_01 .in_form ul li img { position:absolute; left:15px; top:13px; width:16px; height:16px; }
.in_bk_01 .in_form ul li .inp { overflow:hidden; padding:10px 10px 10px 46px; }
.in_bk_01 .in_form ul li .inp input { background:none; border:none; width:100%; }
.in_bk_01 .in_form ul li.btn { margin-top:32px; }
.in_bk_01 .in_form ul li.btn input {  width:100%; border:none; padding:0px; height:48px;transition:0.5s all; -webkit-transition:0.5s all;  }


/***************in_bk_02*********************/
.in_bk_02 .wrap { padding:7.8% 0px 3%; }
.in_bk_02 .in_tab_nav { float:right; width:45.83%; margin-top:-10px; }
.in_bk_02 .in_tab_nav dl dd { padding:5px 0px 18px; }
.in_bk_02 .in_tab_nav ul li { overflow:hidden; cursor:pointer; padding:14px 10px 11px 54px; position:relative; border-radius:8px; }
.in_bk_02 .in_tab_nav ul li img { position:absolute; left:15px; width:24px; top:50%; margin-top:-12px; }
.in_bk_02 .in_tab_nav ul li.on { background:#F7F7F7; }
.in_bk_02 .in_tab_con { float:left; width:49.16%; box-shadow:0px 0px 30px rgba(0,0,0,0.1); }
.in_bk_02 .in_tab_con img { width:100%; }
.in_bk_02 .in_tab_con p { display:none; }


/************in_bk_03****************/
.in_bk_03 .wrap { padding:4.8% 0px 3%; }
.in_bk_03 .in_tab_nav { float:left; }
.in_bk_03 .in_tab_con { float:right; }


/************in_bk_04****************/
.in_bk_04 .wrap { padding:4.8% 0px 7.8%; }


/**************in_bk_05***********************/
.in_bk_05 .wrap { padding:2.8% 0px 4.5%; }
.in_bk_05 ul { padding-top:7.2%;}
.in_bk_05 ul li { float:left; width:33.33%; }
.in_bk_05 ul li .con { width:67.5%; margin:0px auto; }
.in_bk_05 ul li .ico img { width:44.44%; }
.in_bk_05 ul li .ico img.phone_hide { display:inline-block; } 
.in_bk_05 ul li h3 { padding:17% 0px 8%; }
.in_bk_05 ul li p { text-align:justify; }


/**************in_bk_06***********************/
.in_bk_06 .con { padding:11.7% 18.33% 12.6%; }
.in_bk_06 .con dl dd { padding:4.5%  0px 12.3%; }
.in_bk_06 .con .more a { padding:12px 48px; box-shadow:0px 8px 24px 0px rgba(217,80,67,0.3); }


/********************aside_nav*******************/
.aside_nav {  position:fixed; width:48px; z-index:100; top:50%; left:50%; margin-left:618px;  }
.aside_nav a {  display:block; width:48px; height:48px; background:#fff; border-radius:50%; margin:12px 0px 0px; }
.aside_nav img { width:100%;  }




/*************footer*****************/
.footer {}
.footer .wrap { padding:2.85% 0px 2.1%; }
.footer .ft_address { line-height:2.25; padding-top:3.6%; }
.footer .ft_address a { color:#fff; }
.footer .copy { float:left; }
.footer .ft_copy { padding-top:2%; }
.footer .ft_nav { float:right; }
.footer .ft_nav a { color:#999; display:inline-block; margin-left:24px; }

.footer .ft_logo { float:left; width:20.83%; }
.footer .ft_logo img { width:100%; }
.footer .ft_share { float:right; }
.footer .ft_share ul li { float:left; position:relative; padding:0px 20px;}
.footer .ft_share ul li:first-child +li { padding-right:0px; }
.footer .ft_share a { width:58px; border:1px solid #fff; border-radius:50%; background:url(../images/sina.png) no-repeat center top; display:inline-block; height:58px; float:left; display:inline-block; background-size:100% 200%; }
.footer .ft_share a.weixin_but {background:url(../images/code.png) no-repeat center top; background-size:100% 200%;}
.footer .ft_share ul li .code { position:absolute; display:none; top:0px; right:96px; padding:10px 10px 8px; background:#fff; border-radius:8px;}
.footer .ft_share ul li .code img { width:160px; }
.footer .ft_share ul li .code p { padding-top:3px; }

.footer .ft_share a:hover { background-position:center bottom; background-color:#fff; }
.footer .ft_share ul li:hover .code { display:block; }

/***********big_class_login*******************/
.bg01 { background:url('https://rc.imclass.cn/2018/1108/hilv2whdlcnqzpjg.jpg') no-repeat center center; background-size:cover; }
.bg02 { background:url(../images/bg02.jpg) no-repeat center center; background-size:cover; }


.big_class_login_wrap { width:800px; position:fixed; height:500px; background:#fff; border-radius:10px; left:50%; top:50%; margin:-250px 0px 0px -400px; }
.big_class_login_wrap .big_left { position:absolute;border-radius:10px 0px 0px 10px; left:0px; top:0px; bottom:0px; width:400px; background:#d95043; }
.big_class_login_wrap .big_left .img img { width:100%; }
.big_class_login_wrap .big_left dl { padding:21px  64px 0px 40px; }
.big_class_login_wrap .big_left dl dd { line-height:1.8; padding-top:20px;  }

.big_class_login_wrap .big_form { position:absolute;right:40px; top:40px; bottom:0px; width:320px; }
.big_class_login_wrap .big_form h1 { padding-bottom:2px; }
.big_class_login_wrap .big_form ul li { overflow:hidden; margin-top:25px; position:relative; background:#F7F7F7; border-radius:4px; }
.big_class_login_wrap .big_form ul li img { position:absolute; left:13px; top:10px; width:24px; height:24px; }
.big_class_login_wrap .big_form ul li .inp { overflow:hidden; padding:12px 18px 12px 56px; }
.big_class_login_wrap .big_form ul li .inp input { background:none; border:none; width:100%; }
.big_class_login_wrap .big_form ul li .code { float:right; margin:12px 0px; position:relative; padding-left:18px; padding-right:18px; }
.big_class_login_wrap .big_form ul li .code label { position:absolute; left:0px; top:0px; bottom:0px; width:1px; background:#999; border-radius:1px; }
.big_class_login_wrap .big_form ul li .code span {  cursor:pointer; }
.big_class_login_wrap .big_form ul li.btn { margin-top:32px; }
.big_class_login_wrap .big_form ul li.btn input { background:#D95043; width:100%; border:none; border-radius:4px; height:44px;  }
.big_class_login_wrap .big_form dl dt { padding:19px 0px 39px; }
.big_class_login_wrap .big_form dl dt a { color:#D95043 }
.big_class_login_wrap .big_form dl dd { border-top:1px solid #d8d8d8; line-height:2.35; padding-top:12px; }


.big_class_login_wrap .big_copy { position:absolute; left:0px; bottom:-51px; right:0px; } 
.big_class_login_wrap .big_copy label { color:#1F9AEC; text-decoration:underline; }

.big_class_login_wrap .big_language { position:absolute; color:#999; top:9px; right:9px; } 
.big_class_login_wrap .big_language  a { margin:0px 5px; }
.big_class_login_wrap .big_language a.on { color:#D95043; }

.big_class_login_wrap .big_ico { position:absolute; left:50%; top:50%; margin:-22px 0px 0px -22px; width:44px; height:44px; background:url(../images/ImClass_logo_red.svg) no-repeat center center;}



/*********************miniclass_login_wrap******************************/
.miniclass_login_wrap { width:836px; margin:-250px 0px 0px -418px; }
.miniclass_login_wrap .big_left { width:436px; }
.miniclass_login_wrap .big_left .tit { position:absolute; left:50px; right:50px; margin-top:-77px; top:50%; line-height:1.4; }

.miniclass_login_wrap .big_form { top:66px; right:44px; width:312px; }
.miniclass_login_wrap .big_form ul li { border-radius:8px; margin-top:28px;}
.miniclass_login_wrap .big_form ul li .inp { padding:15px 18px 15px 18px;  }
.miniclass_login_wrap .big_form ul li.btn input { background:#D3D3D3;border-radius:8px; height:50px; }
.miniclass_login_wrap .big_form ul li .code { margin:15px 0px; padding-left:0px;  }
.miniclass_login_wrap .big_form ul li .num { float:left; width:72px; margin:15px 0px; border-right:2px solid #DDDDDD; }
.miniclass_login_wrap .big_form ul li .num span { display:inline-block; padding-right:15px; position:relative; }
.miniclass_login_wrap .big_form ul li .num span label { width:6px; display:inline-block; position:absolute; right:0px; top:8px; height:5px; background:url(../images/jt01.png) no-repeat center center; }

.miniclass_login_wrap .big_form ul li:first-child .inp { padding:15px 18px 15px 12px;  }

.miniclass_login_wrap .big_form ul li.bg_none { background:none; }
.miniclass_login_wrap .check_group { float:left; line-height:28px; padding-left:20px; }
.miniclass_login_wrap .check_group .checkbox { float:left; cursor:pointer; width:14px; height:14px; background:url(../images/check_but.png) no-repeat left bottom; margin-top:8px; margin-right:10px; }
.miniclass_login_wrap .check_group .checkbox02 { background-position:left top; }
.miniclass_login_wrap .check_group  label { float:left; position:relative; width:auto; margin-right:0px; cursor:pointer; padding-left:0px; }
.miniclass_login_wrap .check_group .checkbox input { display:none; }
.miniclass_login_wrap ul li a.agreement { line-height:28px; color:#666; }
.miniclass_login_wrap .big_form ul li.btn { margin-top:48px; }



/********************miniclass_setup*********************/
.miniclass_setup_wrap { width:600px; height:333px; margin:-166.5px 0px 0px -300px; position:fixed; background:#fff; border-radius:16px; left:50%; top:50%; }
.miniclass_setup_wrap h1 { padding:32px 31px 22px; }
.miniclass_setup_wrap h1 img { width:226px; }
.miniclass_setup_wrap ul li { border-top:1px solid #d8d8d8; line-height:40px; height:120px; position:relative; }
.miniclass_setup_wrap ul li:first-child { border-top:none; }
.miniclass_setup_wrap ul li .text { padding:0px 130px 0px 34px; width:100%; }
.miniclass_setup_wrap ul li dl dt { position:absolute; right:34px; top:50%; margin-top:-20px; cursor:pointer; }
.miniclass_setup_wrap ul li .inp { display:inline-block; width:134px; background:#f7f7f7; border-radius:8px; }
.miniclass_setup_wrap ul li .inp input { background:none; border:none; height:40px; line-height:40px; text-align:center; width:100%; }
.miniclass_setup_wrap ul li dl dd { padding:2.5px 0px; }
.miniclass_setup_wrap ul li dl dd span { padding-right:6px; }


.miniclass_setup_member { position:fixed; right:46px; top:35px; }
.miniclass_setup_member .mem_ico { cursor:pointer; }
.miniclass_setup_member .mem_ico img { width:40px; }




/*********************miniclass-share****************************/
.miniclass_share_wrap { width:748px; margin:0px auto; }

.mini_share_logo { width:312px; margin:0px auto; margin-top:16.5%; height:54px; border-radius:27px; background:url(../images/logo_imclass_share.svg) no-repeat center center #C14438; position:relative; }
.mini_share_logo a { display:block; position:absolute; left:0px; top:0px; right:0px; bottom:0px; }
.mini_share_title { margin-top:9.7%;}
.mini_share_title p { padding:2.5px 0px; }
.mini_share_title p label { display:inline-block;  }
.mini_share_btn { margin-top:10.8%; }
.mini_share_btn a { width:386px; display:inline-block; line-height:75px; color:#D95043; border-radius:10px; background:#fff;  }
.mini_share_btn a:hover { background:#f0f0f0; color:#D95043!important; }
.mini_share_about { margin-top:18.8%; padding-bottom:50px; }
.mini_share_about  dl dt { padding-bottom:8px; }
.mini_share_about  dl dt label { display:inline-block; }
.mini_share_about  dl dd {  /*text-align: justify;*/ }




/*************************price********************************/
.price_tit { padding:5.5% 0px 5.9%;}
.price_tit p { padding-top:9px;line-height:1.875;  }

.price_bk_01 .wrap { padding:5% 0px 5.2%; }
.price_bk_01 ul { margin:0px -10px; }
.price_bk_01 ul li { float:left; width:25%; *+margin-left:-1px; }
.price_bk_01 ul li .con { margin:0px 10px; padding:49px 10px 29px; background:#F7F7F7;border-radius:8px; }
.price_bk_01 dl dt { position:relative; padding:10px 0px; }
.price_bk_01 dl dt i { width:16px; position:absolute; left:50%; top:0px; margin-left:-8px; height:6px; background:#D95043; }
.price_bk_01 dl dd { line-height:2; height:18em; max-height:18em; }
.price_bk_01 dl.dl02 dd {  height:6em; max-height:6em; }
.price_bk_01 .people { margin:16px 0px; }
.price_bk_01 .course { height:44px; }
.price_bk_01 .course .btn01 { padding:8px 28px; }
.price_bk_01 .course p {font-weight:400; line-height:1.75; }
.price_bk_01 .course p:first-child +p { padding-top:5px; }
.price_bk_01 .course p a { color:#333; }
.price_bk_01 .course label { text-decoration:line-through; padding-left:22px;  }
.price_bk_01 .num { font-weight:500; line-height:1.0; padding:33px 0px 25px; }
.price_bk_01 .num img { height:54px; }
.price_bk_01 .num span { display:inline-block; position:relative; padding:0px 23px; }
.price_bk_01 .num span label { position:absolute; left:0px; top:10px; }

/*********price_bk_02**************/
.price_bk_02 { position:relative; }
.price_bk_02 .wrap { width:760px; padding:6% 0px 6.2%; margin:0px auto; }
.price_bk_02 .num { padding:0px 0px 5.9%; }
.price_bk_02 .num span { padding:0px 12px; display:inline-block; }
.price_bk_02 .price_tit { padding-top:0px; padding-bottom:5%; }
.price_bk_02 .price_tit p { padding-top:2.6%; }
.price_bk_02 .price_contact { border-top:1px solid #fff; line-height:1.71; padding-top:5.1%; }
.price_bk_02 .price_contact a { color:#fff; }



/*************************support********************************/
.support_bk_01 .wrap { padding:5% 0px 1.6%; }
.support_bk_01 ul { width:1012px; margin:0px auto; }
.support_bk_01 ul li { float:left; width:50%;*+margin-left:-1px; }
.support_bk_01 ul li .con { margin:0px 10px; border-radius:8px; padding:41px 20px; }
.support_bk_01 ul li .img img { height:72px; }
.support_bk_01 ul li h3 { font-weight:500; padding:14px 0px 10px; }
.support_bk_01 ul li p { height:3em; overflow:hidden; position:relative; text-align:center; }
.support_bk_01 ul li p span { right:0px; }
.support_bk_01 ul li .down { padding-top:23px; }


.support_bk_02 .wrap { padding:5% 0px 0px; }
.support_bk_02 ul li { float:left; width:25%; *+margin-left:-1px; }
.support_bk_02 ul li .con { margin:0px 10px; min-height:325px; position:relative; }
.support_bk_02 ul li .img { padding-top:20px; }
.support_bk_02 ul li .img img { height:64px; }
.support_bk_02 ul li .img img.phone_hide { display:inline-block; }
.support_bk_02 ul li h3 { font-weight:500; padding:24px 0px 10px; }
.support_bk_02 ul li p {text-align:center; height:3em; }
.support_bk_02 ul li p span { right:0px; }
.support_bk_02 ul li .back p { padding-top:16px; }
.support_bk_02 .down  { height:0px; overflow:hidden; transition:0.5s all; -webkit-transition:0.5s all; }
.support_bk_02 .down a { padding:11px 40px; margin:0px 5px; }
.support_bk_02 ul li .inner2 { right:0px; padding:0px 10px; }
.support_bk_02 .code img { max-width:55%; }


.support_bk_02 ul li .con:hover .down { height:48px; margin-top:3px; }

.support_bk_02 .container {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.support_bk_02  .front,
.support_bk_02  .back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	min-height:325px;
	height: auto;
	color: #fff;
	 border-radius:8px;
}


.support_bk_02 .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.support_bk_02  .inner{
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.support_bk_02 .container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.support_bk_02 .container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.support_bk_02 .container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.support_bk_02 .container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}


.support_bk_03 .wrap { padding:5.8% 0px 10.5%; }
.support_bk_03 ul { width:590px; margin:0px auto; }
.support_bk_03 ul li { float:left; width:100%; position:relative; margin:10px 0px; }
.support_bk_03 ul li .con { border-radius:8px; padding:26px 300px 26px 60px; }
.support_bk_03 ul h3 { font-weight:400; }

.support_bk_03 .sup_btn { position:absolute; opacity:0; transition:0.5s all; -webkit-transition:0.5s all; right:31px; top:50%; margin-top:-24px;}
.support_bk_03 .sup_btn a { width:48px; height:48px; display:inline-block; margin:0px 9px;  }
.support_bk_03 .sup_btn a.a1 {background:url(../images/btn_view.svg) no-repeat;  background-size:100% 100%;}
.support_bk_03 .sup_btn a.a2 { background:url(../images/btn_down.svg) no-repeat;  background-size:100% 100%;}

.support_bk_03 ul li:hover .sup_btn { opacity:1; }


.lt9 .support_bk_03 .sup_btn { display:none; }
.lt9 .support_bk_03 ul li:hover .sup_btn { display:block; }



/********************privacy************************/
.privacy_bk_01 .price_tit { padding:5.5% 0px 2.9%; }
.privacy_bk_01 .wrap { padding:2.8% 0px 5.2%; }
.privacy_bk_01 .con { line-height:2; }













