@charset "utf-8";
/* reset */
html { font-size:  62.5%; min-height:100%; }
html.lt9 { font-size:100%;}
body { min-height: 100%; }
body { _height: 100% }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, input, select, textarea, button, p, blockquote, th, td, figure { margin: 0; padding: 0 }
body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, iframe, pre, code, fieldset, legend, form, p, blockquote, figure, header, footer, nav, article, section, aside, address, figcaption { *zoom: 1 }
li { list-style-type: none }
iframe, frame, fieldset, img { border: 0 none }
img { vertical-align: top }
input[type=button], input[type=submit], input[type=reset] { cursor: pointer }
button { cursor: pointer }
input, textarea, button { -webkit-border-radius: 0; -webkit-appearance: none;  background:#fff;  }
input[type=radio] { -webkit-border-radius: 100%; -webkit-appearance: radio }
input[type=checkbox] { -webkit-appearance: checkbox }
input[type=search] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box }
textarea { overflow: auto; resize: none; background:#fff;}
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none }
table { border-collapse: collapse; border-spacing: 0 }
caption, th { text-align: left }
th { font-weight: normal }
em, cite, address,i { font-style: normal }
*:focus {outline: none;}

* {    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, input, select, button, textarea {color:#666; font-size: 1.4rem; *font-size: 14px; font-family:"Microsoft Yahei",arial,"\5b8b\4f53",Tahoma,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;  }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-size: 1.4rem; *font-size: 14px;  font-weight:normal;  }
body { line-height: 1.5 }
a:link,
a:visited,
a:active,
a { text-decoration: none; color:#999; transition:0.5s all; -webkit-transition:0.5s all; }
		a:hover { color:#D95043!important; }

.song { font-family:"\5b8b\4f53";  }
.arial { font-family:Arial, Helvetica, sans-serif; }

.edit_con_original{ line-height:1.8; font-size:1.4rem; *font-size: 14px; padding:0 0; color:#333; text-align:justify;}
.edit_con_original ul{ margin:initial; padding:initial; padding-left:1.5em;}
.edit_con_original ul li { list-style-type:disc; margin:auto; padding:initial}
.edit_con_original ol{ margin:initial; padding:initial; padding-left:1.5em;}
.edit_con_original ol li { list-style-type:decimal; margin:auto; padding:initial}
.edit_con_original h1 { font-size: 2em; font-weight:bold }
.edit_con_original h2 { font-size: 1.5em; font-weight:bold }
.edit_con_original h3 { font-size: 1.17em; font-weight:bold }
.edit_con_original h4 { font-size: 1em; font-weight:bold }
.edit_con_original h5 { font-size: 0.83em; font-weight:bold }
.edit_con_original h6 { font-size: 0.67em; font-weight:bold }
.edit_con_original em { font-style: italic }
.edit_con_original cite{ font-style: italic }
.edit_con_original address{ font-style: italic }
.edit_con_original i { font-style: italic }
.edit_con_original table{ border-collapse: collapse;
    border-spacing: 0; width:100% !important; border-radius:5px; overflow:hidden; border:1px solid #f0f0f0 !important; display:block; margin-bottom:10px; }
    .edit_con_original table td { padding:0.5em; border:0 !important; }
    .edit_con_original table tr { border-bottom:1px solid #f0f0f0;}
.edit_con_original img{ max-width:100%; height:auto; overflow:hidden; }
.edit_con_original p { margin-bottom:0.5em;}
/*所有后台编辑器区域都要引用 edit_con_original 类名*/

/* clear 页头，页脚，内容区都不用再加清除样式 */
.cf:before{ content: ''; display: table }
.cf:after{ content: ''; display: table; clear: both }
.cf { *zoom: 1 }
.clear, .cl { display: block!important; float: none!important; clear: both; width: auto!important; max-width: none!important; min-width: 0!important; max-height: none!important; min-height: 0!important; overflow: hidden; margin: 0!important; padding: 0!important; border: 0 none!important; font-size: 0!important; line-height: 0!important }

/*公用样式end*/
.auto-img { position: relative; overflow: hidden; display:block; }
.auto-img img { position: relative; }
.auto-bg { background-repeat:no-repeat; overflow:hidden; position:relative; background-position:center top;
background-size:cover;}
/*-ms-behavior: url(../css/backgroundsize.min.htc);*/
/*behavior: url(../css/backgroundsize.min.htc);}*/
.ratio-img{ width:100%; height:auto;  display:block;}

.scaleimg { overflow:hidden; display:block;}
.scaleimg img { transform:scale(1,1); -webkit-transform:scale(1,1); transition:0.5s all; -webkit-transition:0.5s all;}
.scaleimg:hover img{ transform:scale(1.1,1.1) rotate(-1deg); -webkit-transform:scale(1.1,1.1) rotate(-1deg);}

a,
a:active,
a:focus,
input:focus,
a:hover,
a.music-toggle-btn:active,
a.music-toggle-btn:focus,
input:focus,
a.music-toggle-btn:hover,
img,
img:active,
img:focus,
li:active,
li:focus,
li:focus,
div,
div:active,
div:focus,
div:hover,
select,
select:focus,
select:active,
select:hover,
button,
button:active,
button:focus,
button:hover { -webkit-tap-highlight-color: rgba(0,0,0,0); outline: none; -webkit-tap-highlight-color: transparent; }

/*低版本浏览器检测弹窗*/
.browser-old { position:fixed; z-index:100000000; background:rgba(0,0,0,0.5); width:100%; left:0; top:0; height:100%; display:none;}
.browser-old {filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#88000000", EndColorStr="#88000000") }
    .browser-old .box{ width:480px; height:360px; border:10px solid #333; background:#f8f8f8; padding:20px; margin:-210px 0 0 -270px; position:absolute; left:50%; top:50%;}
        .browser-old .box .i { background:#fff; border:5px solid #b30009; color:#b30009; font-size:30px; font-weight:bold; width:40px; display:inline-block; margin-right:20px; text-align:center;}
        .browser-old .box h3 { font-size:30px; }
            .browser-old .box h3 em { color:#b30009; font-size:38px; display:inline-block; margin:0 10px;}
        .browser-old .box p { padding:20px 0 30px; font-size:18px;}
        .browser-old .box h4 { margin-top:30px; text-align:right;}
        .browser-old .box dt { color:#2d739c; font-size:16px; margin-bottom:10px; }
            .browser-old .box dd a { display:block; float:left; width:20%; text-align:center; color:#999;}
        .browser-old .box dd a .icon.google { background-position:0px 0px; }
        .browser-old .box dd a .icon.firefox { background-position:-98px 0px; }
        .browser-old .box dd a .icon.ie { background-position:-204px 0px; }
        .browser-old .box dd a .icon.safari { background-position:-310px 0px; }
        .browser-old .box dd a .icon.opera { background-position:-410px 0px; }
                .browser-old .box dd a .icon { width:75px; height:75px; display:block; margin:0 auto 10px;}
            .browser-old .box h4 a { color:#999;}
/*end*/


/*上下居中*/
.v-m-c{ transform: translate(0,-50%); -webkit-transform: translate(0,-50%); position:absolute; left:0; top:50%;}

/*左右居中*/
.l-m-c{ transform: translate(-50%,0); -webkit-transform: translate(-50%,0); position:absolute; left:50%; top:0;}

/*绝对居中*/
.a-m-c{ transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); position:absolute; left:50%; top:50%;}

input::-webkit-input-placeholder{
      color:#999;
 }

input::-ms-input-placeholder{
      color:#999;
 }


.bk { display:block;}
.fl { float:left; }
.fr { float:right;}
.oh { overflow:hidden;}
.center { text-align:center;}
.f-left { text-align:left;}
.f-right { text-align:right;}


.ht { margin-top:72px; }

.f-b { font-weight:bold;}

 .phone_hide { display:block; }
 .phone_show { display:none; }


.txt_color_white { color:#fff; }
.txt_color_666 { color:#666; }
.txt_color_999 { color:#999; }
.txt_color_aaa { color:#aaa; }
.txt_color_blue { color:#48ADFF; }
.txt_color_b4 { color:#B4B4B4; }
.txt_color_d9  { color:#D95043; }
.txt_color_333 { color:#333; }
.txt_color_f7 { color:#F7F7F7; }
.txt_color_777 { color:#777; }
.txt_color_db { color:#DB5144; }

.bg_cover { background-position:center center; background-repeat:no-repeat; background-size:cover; }

.bg_d9 { background:#D95043; }
.bg_41 { background:#414141; }
.bg_f7 { background:#f7f7f7; }
.bg_3c { background:#3C3C3C; }
.bg_ccc { background:#ccc; }
.bg_fff { background:#fff; }
.bg_fe { background:#FEF445; }
.bg_f2 { background:#F24726; }
.bg_fa { background:#fac711; }
.bg_e6 { background:#E6E6E6; }
.bg_cd { background:#CDE741; }
.bg_8f { background:#8FD14F; }
.bg_da { background:#DA0263; }

.bg_80 { background:#808080; }
.bg_12 { background:#12CDD4; }
.bg_0d { background:#0DA789; }
.bg_95 { background:#9510AC; }

.bg_000 { background:#000; }
.bg_2d { background:#2D9BF0; }
.bg_4c { background:#4C58D1; }
.bg_7a { background:#7A36D6; }


.f-12 { font-size:12px; }
.f-14 { font-size:14px; }
.f-16 { font-size:16px; }
.f-18 { font-size:18px; }
.f-20 { font-size:20px; }
.f-24 { font-size:24px; }
.f-26 { font-size:26px; }
.f-28 { font-size:28px; }
.f-30 { font-size:30px; }
.f-32 { font-size:32px; }
.f-36 { font-size:36px; }
.f-40 { font-size:40px; }
.f-48 { font-size:48px; }
.f-64 { font-size:64px; }


.uppercase{text-transform:uppercase; }

.ellipsis{ text-overflow:ellipsis; white-space:nowrap; overflow:hidden;  }
.ellipsis-2 {  overflow:hidden;  max-height:3em; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.ellipsis-3 {  overflow:hidden;  max-height:4.5em; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.ellipsis-4 {  overflow:hidden;  max-height:6em; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;}
.ellipsis-5 {  overflow:hidden; max-height:7.5em; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;}
.ellipsis-6 {  overflow:hidden;  max-height:9em; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;}




.auto-bg { position: relative; background-size: cover; background-repeat: no-repeat; background-position: center; overflow: hidden; }

.ft_fix { position:fixed; left:0px; bottom:0px; right:0px; }

.wrap { width:1200px; margin:0px auto; }



.weixin{ position:fixed; width:300px; z-index:100000; left:50%; top:50%; margin:-120px 0 0 -150px; background:#fff; border:1px solid #ddd; border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; box-shadow:1px 1px 2px #aaa;}
.weixin .c{ position:absolute; width:30px; height:30px; right:0; top:0; font-size:20px; font-style:normal; text-align:center; cursor:pointer; z-index:2;}
.weixin h2{ position:relative; line-height:30px; font-size:16px; padding-left:10px;}
.weixin .img{ padding:10px; text-align:center; border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
.weixin .img img{ width:180px; height:180px; }
.weixin p{ padding:2px 10px 0; text-align:center;}





/********************layer**************************/
.layer_wrap { width:1000px; margin:0px auto; padding:50px 0px; }

.layer_btn { background:#D95043; border-radius:4px; color:#fff!important; width:132px; line-height:38px; height:38px; display:inline-block; }
.layer_btn:hover { background:#F07F74;color:#fff!important;  }

.layer_btn2 { background:#eee; border-radius:4px; color:#4E4E4E!important; width:132px; line-height:38px; height:38px; display:inline-block; }
.layer_btn2:hover { background:#F07F74;color:#fff!important;  }


/**********.layer_01 **************/
.layer_01 { width:660px; position:relative; padding:35px 0px 25px; border-radius:6px; background:rgba(60,60,60,0.9);  }
.layer_01  .con { padding:0px 16px;  }
.layer_01  .con  img { max-width:100%; }
.layer_01 p { padding:10px 0px;  }
.layer_01 span { color:#D95043;}
.layer_01 .close { position:absolute; cursor:pointer; top:9px; right:9px;  width:24px; height:24px; background:url(images/btn_close@2x.png) no-repeat center center; }
.lt9 .layer_01 { background:rgb(60,60,60);}

.layer_02 { width:422px; position:relative; }
.layer_02 h2 {border-radius:8px 8px 0px 0px; height:56px; padding:0px 19px; background:rgba(65,65,65,0.9); line-height:56px; position:relative; }
.layer_02 .close { position:absolute; cursor:pointer; top:50%; margin-top:-12px; right:13px;  width:24px; height:24px; background:url(images/btn_close@2x.png) no-repeat center center; }
.layer_02 .con { background:rgba(60,60,60,0.898); padding:48px 20px 43px; border-radius:0px 0px 8px 8px;}
.layer_02 .btn { padding-top:35px; }
.layer_02 .btn a { margin:0px 19px; }
.layer_02 img { vertical-align:middle; margin-right:14px; }
.layer_02 .code { padding-bottom:19px; }
.layer_02 .code img { width:160px; }
.lt9 .layer_02 .con { background:rgb(60,60,60);}
.lt9 .layer_02 h2 { background:rgb(65,65,65);}


.layer_03 { width:258px; line-height:94px;background:rgba(60,60,60,0.9); border-radius:8px; }
.layer_03 img { vertical-align:middle; margin-right:16px; }
.lt9 .layer_03  { background:rgb(60,60,60);}

.layer_04 { width:488px; }
.layer_04 .con p { padding:2.5px 0px; }
.layer_04 .con span { cursor:pointer; color:#3DABFF; margin-left:10px; }


.layer_05 { width:488px; position:relative; }
.layer_05 h2 {border-radius:8px 8px 0px 0px; height:56px; padding:0px 19px; background:rgba(65,65,65,0.9); line-height:56px; position:relative; }
.layer_05 .close { position:absolute; cursor:pointer; top:50%; margin-top:-12px; right:13px;  width:24px; height:24px; background:url(images/btn_close@2x.png) no-repeat center center; }
.layer_05 .con { background:rgba(60,60,60,0.898); padding:0px 32px 25px; border-radius:0px 0px 8px 8px;}
.layer_05 .inp { background:#626262; width:303px;border-radius:4px; height:38px; line-height:38px; }
.layer_05 .inp2 { padding:0px 10px; *+width:283px; background: url(images/select_but01.png) no-repeat 279px center #626262; }
.layer_05 .tit { padding:6px 10px; }
.layer_05 .tit label { padding-left:15px; }
.layer_05  ul li { padding-top:17px; padding-bottom:5px; position:relative; }
.layer_05  ul li:first-child { z-index:10; }
.layer_05  ul li:first-child +li { z-index:9; }
.layer_05  ul li:first-child +li+li { z-index:8; }
.layer_05 .img { position:absolute; right:0px; top:30px; width:88px; height:88px; border-radius:4px; background:#2e2e2e; }
.layer_05 .img img {border-radius:4px; width:100%; }
.layer_05 input { border:none; margin-top:21px;  }
.layer_05 .test { width:96px; *+width:61px; position:absolute; padding-left:35px; cursor:pointer; left:328px; bottom:5px; height:38px; line-height:38px;border-radius:4px; background:url(images/laba.png) no-repeat 10px center #DB5144; }

.layer_05 .note { width:96px; position:absolute; left:328px; bottom:5px; height:38px; line-height:38px; }
.layer_05 .note.bg {  background:url(images/note.png) no-repeat center bottom; }

.lt9 .layer_05 h2 {background:rgb(65,65,65); }
.lt9 .layer_05 .con {background:rgb(60,60,60); }

.layer_05 .note span {
        display: inline-block;
        width:6px;
        background-color:#DB5144;
		position:absolute; left:0px; bottom:0px;
    }

.layer_05 .note  .line1 {
        animation: line 1s infinite ease-in-out alternate; left:0px;
    }

.layer_05 .note  .line2 {
        animation: line 0.6s 0.1s infinite ease-in-out alternate;
		left:8px;
    }

.layer_05 .note  .line3 {
        animation: line 0.8s 0.2s infinite ease-in-out alternate;
		left:16px;
    }

.layer_05 .note   .line4 {
        animation: line 1s 0.3s infinite ease-in-out alternate;
		left:24px;
    }


.layer_05 .note  .line5 {
        animation: line 0.6s 0.4s  infinite ease-in-out alternate;
		left:32px;
    }

.layer_05 .note   .line6 {
        animation: line 0.8s 0.5s infinite ease-in-out alternate;
		left:40px;
    }

.layer_05 .note  .line7 {
        animation: line 0.4s 0.6s infinite ease-in-out alternate;left:48px;    }

.layer_05 .note  .line8 {
        animation: line 0.6s 0.7s infinite ease-in-out alternate;left:56px;
    }

.layer_05 .note  .line9 {
        animation: line 0.4s 0.8s infinite ease-in-out alternate;left:64px;
    }

.layer_05 .note  .line10 {
        animation: line 0.8s 0.9s infinite ease-in-out alternate;left:72px;
    }

.layer_05 .note  .line11 {
        animation: line 0.6s 1s infinite ease-in-out alternate;left:80px;
    }

.layer_05 .note  .line12 {
        animation: line 0.6s 1.1s infinite ease-in-out alternate;left:88px;
    }





    @keyframs line {
        from {
            height: 0;
        }
        to {
            height: 28px;
        }
    }

    @-webkit-keyframes line {
        from {
            height: 0;
        }
        to {
            height: 28px;
        }
    }










.layer_login { width:160px; float:left;  }
.layer_login ul li { padding:0px 16px 0px 38px; position:relative; line-height:44px; height:44px; background:#fff; border-radius:0px 0px 4px 4px;}
.layer_login ul li  img { position:absolute; left:16px; top:50%; width:16px; margin-top:-8px; }
.layer_login ul li:first-child { border-radius:4px 4px 0px 0px;}
.layer_login ul li span { cursor:pointer; }

.layer_login2 { margin-left:27px; }
.layer_login2 ul li:first-child { background:#f7f7f7; }



.layer_modify { width:200px; border-radius:4px; padding:7px 16px 12px;  }
.layer_modify dl dd .inp { border-bottom:1px solid #d8d8d8; padding:16px 0px 10px; }
.layer_modify dl dd  input { background:none; border:none; padding-top:10px; margin-left:25px; }
.layer_modify dl dd .inp input { width:100%; line-height:16px; height:16px; padding-top:0px; margin-left:0px; }
.layer_modify dl dd span { margin-left:25px; cursor:pointer; }



.layer_tanchu { width:242px;border-radius:4px; height:152px; overflow:hidden; box-shadow:0px 0px 40px rgba(0,0,0,0.2); }
.layer_tanchu dl dd { line-height:38px; }
.layer_tanchu dl dd span { display:inline-block; padding-left:20px; }
.layer_tanchu dl dd span:first-child { width:129px; }
.layer_tanchu dl dd.on { background:#f7f7f7; }


.layer_tool { width:166px; height:100px; position:relative; border-radius:9px; }
.layer_tool ul { padding:10px 8px; }
.layer_tool ul li { float:left; width:25%; padding:8px 0px; }
.layer_tool ul li img { width:25px; height:25px; cursor:pointer; }
.layer_tool:before {	position: absolute;
	left: -7px;
	top:50%;
	width: 0;
	height:0;
	margin-left: -10px;
	content: "";
	margin-top:-10px;
	border-left:10px solid transparent;
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-right:10px solid #3C3C3C;
 }


.layer_tool2 { width:118px; height:164px; position:relative; border-radius:9px; }
.layer_tool2:before {top:38px; margin-top:0px;}
.layer_tool2 ul {  padding:14px 11px;  }
.layer_tool2 ul li { padding:0px; height:22px; }
.layer_tool2 ul li i { border:2px solid #3c3c3c; cursor:pointer; display:inline-block; padding:1px; border-radius:4px; }
.layer_tool2 ul li i span { display:inline-block; width:16px; height:14px; line-height:14px;border-radius:2px; }
.layer_tool2 ul li.on i {  border:2px solid #D95043;}
.lt10 .layer_tool2 ul li.on i { height:22px; line-height:22px; *+height:14px; *+line-height:14px; }
.lt10 .layer_tool2 ul li i span { position:relative; top:-2px; *+top:0px; }
.layer_tool2 dl { border-top:2px solid #777; padding-left:8px; margin:0px 12px; padding-top:10px; }
.layer_tool2 dl dd { float:left; position:relative; height:26px; margin-right:3px;}
.layer_tool2 dl dd span { position:absolute; display:inline-block; left:0px; *+left:-3px; top:8px; padding:1px; width:12px; height:12px; *+width:6px; *+height:6px; cursor:pointer;  border-radius:50%; border:2px solid #3C3C3C;  }
.layer_tool2 dl dd  i {  margin:11px 3px; position:relative; width:6px; height:6px; line-height:6px; overflow:hidden; background:#FAC711; border-radius:50%; display:inline-block; }
.layer_tool2 dl dd:first-child +dd span {width:16px; height:16px; top:6px;  *+width:10px; *+height:10px;}
.layer_tool2 dl dd:first-child +dd i { margin-top:9px;width:10px; height:10px; }
.layer_tool2 dl dd:first-child +dd +dd span {width:20px; height:20px; top:4px; *+width:14px; *+height:14px;}
.layer_tool2 dl dd:first-child +dd +dd  i { width:14px; height:14px; margin-top:7px; }
.layer_tool2 dl dd:first-child +dd +dd +dd  i { width:20px; height:20px; margin-top:3px; }
.layer_tool2 dl dd:first-child +dd +dd +dd span {width:26px; height:26px; top:0px; *+width:20px; *+height:20px; }


.layer_tool2 dl dd.on span { border:2px solid #D94747; }



.layer_error { border-radius:8px; width:470px; padding:15px 10px; }



.select-box { width: 100%; position: relative; z-index: 100; line-height:38px; height:38px; color: #fff; }
.select-box:hover { z-index: 101; }
.select-box dt { margin-right: 1px; padding: 0 10px; cursor: pointer; }
.select-box dt span{ position:absolute; left:10px; top:0;}
.select-box dt b { font-weight: normal; display: block; margin-right:18px; height:38px; overflow:hidden; line-height:38px; position:relative; top:0px;  color: #fff; white-space:normal; overflow:hidden; }
.select-box dt i.ico { position: absolute; transition: 0.3s all ease-in-out; background: url(images/select_but01.png) no-repeat 0 0; width:10px; height:9px; right:14px; top:14px; }
.select-box dt.open i.ico { -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -o-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }
.select-box dd { position: absolute; max-height: 200px; z-index: 102;  border-radius:4px; overflow-y: auto; background: #434343; padding:0px; overflow-x: hidden; right:0px; left:0px; top: 100%; display: none; }
.select-box dd a { display: block; line-height:1.5; color: #fff; font-weight: normal; white-space: normal; padding:7px 10px; margin-top: 0px; }
.select-box dd a:hover, .select_0 dd a.on { color: #fff; background: #000; }














